target/
.idea
java_project/.idea
java_project/hadoopMapReduce/META-INF/
java_project/.idea/misc.xml
java_project/.idea/uiDesigner.xml
java_project/.idea/workspace.xml
java_project/hadoopMapReduce/hadoopMapReduce.iml
java_project/out/
